1. What are data structures, and why are they important?
- Data structures are organized ways to store, manage, and manipulate data efficiently for various operations. Examples include arrays, linked lists, stacks, queues, trees, graphs, and hash tables.
Importance:
Optimize data storage and retrieval.
Enhance algorithm efficiency.
Simplify complex problems.
Manage large-scale data effectively.

2. Difference between mutable and immutable data types with examples
- Mutable: Can be modified after creation.
Examples: Lists, dictionaries, sets.
- Immutable: Cannot be modified after creation.
Examples: Tuples, strings, numbers.

3. Main differences between lists and tuples in Python
- Lists:
Mutable.
Slower.
Use more memory due to dynamic resizing.
Example: [1, 2, 3]
- Tuples:
Immutable.
Faster and use less memory.
Example: (1, 2, 3)

4. How dictionaries store data
- Dictionaries use a hash table internally. Keys are hashed to generate a unique index for storage, enabling fast lookups, insertions, and deletions.

5. Why use a set instead of a list in Python?
- Sets:
Eliminate duplicates automatically.

  Support faster membership testing (in keyword).
- Use case: Maintaining a collection of unique items.

6. What is a string in Python, and how is it different from a list?
- String: A sequence of characters, immutable.

  my_string = "hello"
- List: A collection of items, mutable.

  my_list = ['h', 'e', 'l', 'l', 'o']

7. How tuples ensure data integrity in Python
- Tuples are immutable, preventing accidental changes to data, making them suitable for use as keys in dictionaries or ensuring consistent configurations.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hashing function. Python dictionaries are implemented using hash tables for efficient key-based access.

9. Can lists contain different data types in Python?
- Yes. Python lists are heterogeneous:

 mixed_list = [1, "hello", 3.14, [1, 2]]

10. Why are strings immutable in Python?
- Strings are immutable to ensure security, thread safety, and efficient memory usage via string interning and caching.

11. Advantages of dictionaries over lists
- Key-based data retrieval (O(1) time complexity).
Uniqueness of keys ensures no duplicate identifiers.

12. Scenario where tuples are preferable over lists
- When data must remain constant, such as coordinates or fixed configurations
  
  example:
  coordinates = (40.7128, -74.0060)  # Latitude and longitude

13. How sets handle duplicate values in Python
- Sets automatically discard duplicate values:

  example:
  
  my_set = {1, 2, 2, 3}
  
  print(my_set)  # Output: {1, 2, 3}

14. How does the in keyword work differently for lists and dictionaries?
- List: Checks if a value exists.
- Dictionary: Checks if a key exists.

15. Can you modify the elements of a tuple?
- No. Tuples are immutable, so elements cannot be modified after creation

16. What is a nested dictionary, and give an example of its use case
- A dictionary containing other dictionaries.

 Example: Representing a database of students:

 students = {
    
    "Rishant": {"age": 25, "grade": "A"},
   
    "Sinha": {"age": 22, "grade": "B"}

  }

17. Time complexity of accessing elements in a dictionary
- O(1) on average, here hash table implementation helps.

18. When are lists preferred over dictionaries?
- When order matters or when storing duplicate values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries prior to Python 3.7 did not maintain insertion order. Even now, key-value retrieval relies on hashing, not order.

20. Difference between a list and a dictionary in terms of data retrieval
- List: Access via index (sequential or positional).
- Dictionary: Access via key (hashed for direct access).

In [3]:
# 1. Create a string with your name and print it
name = "Rishant sinha"
print(name)

Rishant sinha

In [6]:
# 2. Write a code to find the length of the string "Hello World"
string = "Hello World"
length = len(string)
print("The length of the string is:", length)

The length of the string is: 11

In [8]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
sliced = string[:3]
print("The first 3 character are:", sliced)

The first 3 character are: Pyt

In [9]:
# 4. Write a code to convert the string "hello" to uppercase
string = "hello"
uppercase_string = string.upper()
print("The uppercase string is:", uppercase_string)

The uppercase string is: HELLO

In [10]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
replaced_string = string.replace("apple", "orange")
print("Updated string:", replaced_string)

Updated string: I like orange

In [12]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [13]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [14]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [15]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [16]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [17]:
# 11.  Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [18]:
# 12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [19]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

In [20]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

In [21]:
# 15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
my_tuple = ('apple', 'orange', 'banana')
is_banana_present = 'banana' in my_tuple
print(is_banana_present)

True

In [22]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [23]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [24]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [25]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [26]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print("The number 2 appears", count, "times.")

The number 2 appears 3 times.

In [27]:
# 21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

In [28]:
# 22.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruits = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
if 'banana' in fruits:
    print("Banana is in the tuple.")
else:
    print("Banana is not in the tuple.")

Banana is in the tuple.

In [29]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}

# Print the set
print("The set is:", my_set)

The set is: {1, 2, 3, 4, 5}

In [30]:
# 24.  Write a code to add the element 6 to the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print("Updated set:", my_set)

Updated set: {1, 2, 3, 4, 6}